<div class="container">
	<div class="row">
		<h2>Who is Paul?</h2>
		<p>Paul scans your pull request for issues.</p>
		<p>If Paul commented on your pull request, check your <%= link_to("style guide", "dashboard/styleguide") %>.</p>
	</div>
</div>