<div class="ui page grid">
	<div class="row">
    <div class="three wide column">Justin</div>
    <div class="eight wide column">David</div>
    <div class="five wide column">Seidl</div>
  </div>
</div>