<div class="container">
	<div class="row">
		<section class="highlight">
			<div class="col seven off-one">
				<h1>Paul prevents poor pulls and cuts crappy comments</h1>
				<p>Free for public repositories, <strong>$4</strong> per private repository per month.</p>
			</div>
			<div class="col three">
				<%= image_tag "paul-request-axe.png", :alt => "Paul Request's Axe" %>
			</div>
		</section>
	</div>
</div>