<div class="container">
	<div class="row">
		<div class="col twelve">
	  	<h3><%= current_user.name %>'s Repositories</h3>
		  <% @repos.each do |repo| %>
				<div class="repo private-<%= repo.private %>">
				  <div class="repo-title"><%= link_to(repo.name, dashboard_path) %></div>
				  <p><%= repo.description %></p>
				</div>
		  <% end %>
	  </div>
	</div>
</div>
