/*
* Travel Door County
* Copyright Ace Eight of Spades 2014
* traveldoor.co
*/


// ----------
// Visible Elements

// Clear
%clear:after {
  content: "";
  display: table;
  clear: both;
}

// Screensize Visibility
#desktop {
  display: block;
  visibility: visible;
  @include breakpoint(l-three) {
    display: none;
    visibility: hidden;
  }
}
#mobile {
  display: none;
  visibility: hidden;
  @include breakpoint(l-three) {
    display: block;
    visibility: visible;
  }
}
